week09/assignment/Syslog_Processing.json
{"flowContents":{"identifier":"ee6d7ac9-0e76-32b3-ad70-cde65974efcc","instanceIdentifier":"f56d5037-0189-1000-d35b-c80f748c6a37","name":"Syslog Processing","comments":"","position":{"x":304.0,"y":109.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"24f57837-45b5-3263-b6b6-9f45095d8f04","instanceIdentifier":"43e3832e-aad7-38f3-6730-d4c1367ca05f","name":"Filter Events","comments":"","position":{"x":16.0,"y":1456.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.0"},"properties":{"cache-schema":"false","dbf-default-precision":"10","filtered_events":"#{Filter Rule}","record-writer":"0cce4749-be5e-3460-9b6a-20bf7d2ffc1a","record-reader":"16e3df33-d164-3e2a-9ab3-1d9cc3cdef33","include-zero-record-flowfiles":"false","dbf-default-scale":"0"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"filtered_events":{"name":"filtered_events","displayName":"filtered_events","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ee6d7ac9-0e76-32b3-ad70-cde65974efcc"},{"identifier":"0531800a-873d-3ee0-9a99-eb20d9f74d98","instanceIdentifier":"f56eecef-0189-1000-9d07-f78678541547","name":"PutSolrRecord","comments":"","position":{"x":16.0,"y":1696.0},"type":"org.apache.nifi.processors.solr.PutSolrRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-solr-nar","version":"1.23.0"},"properties":{"Solr Update Path":"/update","Solr Socket Timeout":"10 seconds","ZooKeeper Connection Timeout":"10 seconds","kerberos-principal":null,"Solr Maximum Connections":"10","ZooKeeper Client Timeout":"10 seconds","Fields To Index":null,"kerberos-credentials-service":null,"SSL Context Service":null,"Solr Maximum Connections Per Host":"5","Username":null,"Batch Size":"500","Solr Connection Timeout":"10 seconds","Collection":"#{Solr Collection}","Solr Location":"#{Solr Location}","kerberos-user-service":null,"Solr Type":"Standard","put-solr-record-record-reader":"4628730f-7679-39ff-9a78-06ad135065c9","Commit Within":"5000"},"propertyDescriptors":{"Solr Update Path":{"name":"Solr Update Path","displayName":"Solr Update Path","identifiesControllerService":false,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Solr Socket Timeout":{"name":"Solr Socket Timeout","displayName":"Solr Socket Timeout","identifiesControllerService":false,"sensitive":false},"ZooKeeper Connection Timeout":{"name":"ZooKeeper Connection Timeout","displayName":"ZooKeeper Connection Timeout","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Solr Maximum Connections":{"name":"Solr Maximum Connections","displayName":"Solr Maximum Connections","identifiesControllerService":false,"sensitive":false},"ZooKeeper Client Timeout":{"name":"ZooKeeper Client Timeout","displayName":"ZooKeeper Client Timeout","identifiesControllerService":false,"sensitive":false},"Fields To Index":{"name":"Fields To Index","displayName":"Fields To Index","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Solr Maximum Connections Per Host":{"name":"Solr Maximum Connections Per Host","displayName":"Solr Maximum Connections Per Host","identifiesControllerService":false,"sensitive":false},"Username":{"name":"Username","displayName":"Basic Auth Username","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Solr Connection Timeout":{"name":"Solr Connection Timeout","displayName":"Solr Connection Timeout","identifiesControllerService":false,"sensitive":false},"Collection":{"name":"Collection","displayName":"Collection","identifiesControllerService":false,"sensitive":false},"Solr Location":{"name":"Solr Location","displayName":"Solr Location","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Solr Type":{"name":"Solr Type","displayName":"Solr Type","identifiesControllerService":false,"sensitive":false},"put-solr-record-record-reader":{"name":"put-solr-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Commit Within":{"name":"Commit Within","displayName":"Commit Within","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Basic Auth Password","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ee6d7ac9-0e76-32b3-ad70-cde65974efcc"},{"identifier":"fee6afe6-239c-3b03-9d3a-cebd776fa08c","instanceIdentifier":"181eebc2-391f-3511-a164-6b7e2e6f049c","name":"Generate Syslog RFC5424","comments":"","position":{"x":16.961810724508496,"y":1201.7886164273907},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.23.0"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"##\n## Author: Nasheb Ismaily\n## Description: Generates a random RFC5424 format syslog message\n##\n\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import OutputStreamCallback\nimport random\nfrom datetime import datetime\n\nclass PyOutputStreamCallback(OutputStreamCallback):\n    def __init__(self):\n        pass\n\n    def process(self, outputStream):\n        hostname = \"host\"\n        domain_name = \".example.com\"\n        tag = [\"kernel\", \"python\", \"application\"]\n        version = \"1\"\n        nouns = \"application\"\n        verbs = (\"started\", \"stopped\", \"exited\", \"completed\")\n        adv = (\"successfully\", \"unexpectedly\", \"cleanly\", \"gracefully\")\n\n        for i in range(0,10):\n            application = \"{0}{1}\".format(nouns, random.choice(range(1, 11)))\n            message_id = \"ID{0}\".format(random.choice(range(1, 50)))\n            random_tag = random.choice(tag)\n            structured_data = \"[SDID iut=\\\"{0}\\\" eventSource=\\\"{1}\\\" eventId=\\\"{2}\\\"]\".format(random.choice(range(1, 10)), random_tag, random.choice(range(1, 100)))\n            time_output = datetime.utcnow().strftime('%Y-%m-%dT%H:%M:%S.%f')[:-3] + 'Z'\n            random_host = random.choice(range(1, 11))\n            fqdn = \"{0}{1}{2}\".format(hostname, random_host, domain_name)\n            random_pid = random.choice(range(500, 9999))\n            priority = random.choice(range(0, 191))\n            num = random.randrange(0, 4)\n            random_message = application + ' has ' + verbs[num] + ' ' + adv[num]\n\n            syslog_output = (\"<{0}>{1} {2} {3} {4} {5} {6} {7} {8}\\n\".format(priority, version, time_output, fqdn, application,random_pid, message_id,structured_data, random_message))\n            outputStream.write(bytearray(syslog_output.encode('utf-8')))\n\nflowFile = session.create()\nif (flowFile != None):\n    flowFile = session.write(flowFile, PyOutputStreamCallback())\n    session.transfer(flowFile, REL_SUCCESS)","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"DEBUG","runDurationMillis":0,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ee6d7ac9-0e76-32b3-ad70-cde65974efcc"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"6a5e28f3-a31e-3a16-b7df-055b306f587a","instanceIdentifier":"3e76c923-a295-376e-356c-06e0d353745c","name":"success_Generate-FilterEvents","source":{"id":"fee6afe6-239c-3b03-9d3a-cebd776fa08c","type":"PROCESSOR","groupId":"ee6d7ac9-0e76-32b3-ad70-cde65974efcc","name":"Generate Syslog RFC5424","comments":"","instanceIdentifier":"181eebc2-391f-3511-a164-6b7e2e6f049c"},"destination":{"id":"24f57837-45b5-3263-b6b6-9f45095d8f04","type":"PROCESSOR","groupId":"ee6d7ac9-0e76-32b3-ad70-cde65974efcc","name":"Filter Events","comments":"","instanceIdentifier":"43e3832e-aad7-38f3-6730-d4c1367ca05f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"ROUND_ROBIN","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee6d7ac9-0e76-32b3-ad70-cde65974efcc"},{"identifier":"484902f2-5d75-38c1-b512-8257c07f9146","instanceIdentifier":"5f39ff00-83e6-3efa-3130-d7932c4371d7","name":"","source":{"id":"24f57837-45b5-3263-b6b6-9f45095d8f04","type":"PROCESSOR","groupId":"ee6d7ac9-0e76-32b3-ad70-cde65974efcc","name":"Filter Events","comments":"","instanceIdentifier":"43e3832e-aad7-38f3-6730-d4c1367ca05f"},"destination":{"id":"0531800a-873d-3ee0-9a99-eb20d9f74d98","type":"PROCESSOR","groupId":"ee6d7ac9-0e76-32b3-ad70-cde65974efcc","name":"PutSolrRecord","comments":"","instanceIdentifier":"f56eecef-0189-1000-9d07-f78678541547"},"labelIndex":1,"zIndex":0,"selectedRelationships":["filtered_events"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee6d7ac9-0e76-32b3-ad70-cde65974efcc"},{"identifier":"f6681a2c-d681-3ce7-a5a4-e475f52bda37","instanceIdentifier":"f56f9228-0189-1000-edf2-dba338d453f7","name":"","source":{"id":"0531800a-873d-3ee0-9a99-eb20d9f74d98","type":"PROCESSOR","groupId":"ee6d7ac9-0e76-32b3-ad70-cde65974efcc","name":"PutSolrRecord","comments":"","instanceIdentifier":"f56eecef-0189-1000-9d07-f78678541547"},"destination":{"id":"0531800a-873d-3ee0-9a99-eb20d9f74d98","type":"PROCESSOR","groupId":"ee6d7ac9-0e76-32b3-ad70-cde65974efcc","name":"PutSolrRecord","comments":"","instanceIdentifier":"f56eecef-0189-1000-9d07-f78678541547"},"labelIndex":1,"zIndex":0,"selectedRelationships":["connection_failure","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":487.85020446777344,"y":1735.4371337890625},{"x":487.85020446777344,"y":1785.4371337890625}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee6d7ac9-0e76-32b3-ad70-cde65974efcc"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"0cce4749-be5e-3460-9b6a-20bf7d2ffc1a","instanceIdentifier":"19288bca-c4f2-35b0-0222-b4657d57b7fa","name":"JSON_Syslog_5424_Writer","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.0"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"#{Schema Name}","schema-registry":"64eb5d07-1029-305d-b7aa-c7f0fc2e8fda","Time Format":null,"schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ee6d7ac9-0e76-32b3-ad70-cde65974efcc"},{"identifier":"4628730f-7679-39ff-9a78-06ad135065c9","instanceIdentifier":"e823dc5f-2b74-3c6e-bb68-b3c05479d54b","name":"JSON_Syslog_5424_Reader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.0"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"#{Schema Name}","starting-field-strategy":"ROOT_NODE","schema-registry":"64eb5d07-1029-305d-b7aa-c7f0fc2e8fda","starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ee6d7ac9-0e76-32b3-ad70-cde65974efcc"},{"identifier":"64eb5d07-1029-305d-b7aa-c7f0fc2e8fda","instanceIdentifier":"f56e286b-0189-1000-bd3b-70ef4c2157b8","name":"AvroSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.services.AvroSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-registry-nar","version":"1.23.0"},"properties":{"avro-reg-validated-field-names":"true","syslog":"{\n \"name\": \"syslog\",\n \"type\": \"record\",\n \"namespace\": \"com.cloudera\",\n \"fields\": [\n  {\n   \"name\": \"priority\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"severity\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"facility\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"version\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"timestamp\",\n   \"type\": \"long\"\n  },\n  {\n   \"name\": \"hostname\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"body\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"appName\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"procid\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"messageid\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"structuredData\",\n   \"type\": {\n    \"name\": \"structuredData\",\n    \"type\": \"record\",\n    \"fields\": [\n     {\n      \"name\": \"SDID\",\n      \"type\": {\n       \"name\": \"SDID\",\n       \"type\": \"record\",\n       \"fields\": [\n        {\n         \"name\": \"eventId\",\n         \"type\": \"string\"\n        },\n        {\n         \"name\": \"eventSource\",\n         \"type\": \"string\"\n        },\n        {\n         \"name\": \"iut\",\n         \"type\": \"string\"\n        }\n       ]\n      }\n     }\n    ]\n   }\n  }\n ]\n}"},"propertyDescriptors":{"avro-reg-validated-field-names":{"name":"avro-reg-validated-field-names","displayName":"Validate Field Names","identifiesControllerService":false,"sensitive":false},"syslog":{"name":"syslog","displayName":"syslog","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ee6d7ac9-0e76-32b3-ad70-cde65974efcc"},{"identifier":"16e3df33-d164-3e2a-9ab3-1d9cc3cdef33","instanceIdentifier":"ff621631-898c-357f-e604-af042ffc89ab","name":"Syslog_5424_Reader","type":"org.apache.nifi.syslog.Syslog5424Reader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.0"},"properties":{"Character Set":"UTF-8","syslog-5424-reader-raw-message":"false"},"propertyDescriptors":{"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"syslog-5424-reader-raw-message":{"name":"syslog-5424-reader-raw-message","displayName":"Raw message","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ee6d7ac9-0e76-32b3-ad70-cde65974efcc"}],"variables":{},"parameterContextName":"Syslog Processing","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{"Syslog Processing":{"name":"Syslog Processing","parameters":[{"name":"Filter Rule","description":"Specify the SQL Filter that will be applied to the incoming Syslog data.","sensitive":false,"provided":false,"value":"SELECT * FROM FLOWFILE"},{"name":"Solr Collection","description":"","sensitive":false,"provided":false,"value":"syslog"},{"name":"Solr Location","description":"","sensitive":false,"provided":false,"value":"http://localhost:8983/solr/syslog"},{"name":"Schema Name","description":"Specify the schema name to be looked up in the Schema Registry.","sensitive":false,"provided":false,"value":"syslog"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}