week11-12/assignment/examples/Final_Project.json
{"flowContents":{"identifier":"6aa545a8-6ed6-3c71-bb3b-99830978a0a5","instanceIdentifier":"6269bfab-0199-1000-2979-084ef3207968","name":"Final_Project","comments":"","position":{"x":430.0,"y":259.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"6d190ab8-d30a-3b8f-a56d-1bb4c7e1c053","instanceIdentifier":"bfeb9ef9-eb8f-36d3-c449-6d279d74ceed","name":"Update File Name","comments":"","position":{"x":-204.0,"y":208.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.25.0"},"properties":{"Delete Attributes Expression":null,"filename":"#{FILENAME}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6aa545a8-6ed6-3c71-bb3b-99830978a0a5"},{"identifier":"42ffb181-fe1d-34fd-a8ca-9f31f8c323d6","instanceIdentifier":"867f832c-079c-3ec8-c94a-a8a7608acbb6","name":"Write File to HDFS","comments":"","position":{"x":-204.0,"y":424.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.25.0"},"properties":{"Permissions umask":null,"Hadoop Configuration Resources":"/home/#{USER}/dsc650-infra/bellevue-bigdata/nifi/hadoopconf/core-site.xml","Remote Owner":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"Block Size":null,"kerberos-credentials-service":null,"Kerberos Keytab":null,"Ignore Locality":"false","Kerberos Principal":null,"Replication":null,"kerberos-user-service":null,"writing-strategy":"writeAndRename","Kerberos Relogin Period":"4 hours","Directory":"#{HDFS WRITE DIRECTORY}","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6aa545a8-6ed6-3c71-bb3b-99830978a0a5"},{"identifier":"14531e3e-d1c1-38f6-9161-a9ecdeabb69f","instanceIdentifier":"89214844-f662-3b7a-34c3-3280eaf45266","name":"Download File","comments":"","position":{"x":-204.0,"y":-40.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.25.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"#{DOWNLOAD FILE URL}","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6aa545a8-6ed6-3c71-bb3b-99830978a0a5"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"2c687f0f-a5a1-339a-8c3a-63614c70b437","instanceIdentifier":"86e84f09-806d-3e48-3686-e76d9da7c75d","name":"","source":{"id":"42ffb181-fe1d-34fd-a8ca-9f31f8c323d6","type":"PROCESSOR","groupId":"6aa545a8-6ed6-3c71-bb3b-99830978a0a5","name":"Write File to HDFS","comments":"","instanceIdentifier":"867f832c-079c-3ec8-c94a-a8a7608acbb6"},"destination":{"id":"00c785e4-db07-3e25-8be9-a9789082bda6","type":"FUNNEL","groupId":"6aa545a8-6ed6-3c71-bb3b-99830978a0a5","name":"Funnel","comments":"","instanceIdentifier":"b0f84431-8be3-3d7b-4146-fc7a8e74f0ae"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6aa545a8-6ed6-3c71-bb3b-99830978a0a5"},{"identifier":"fd651d86-5861-3fbd-a3f9-7fe788f2e446","instanceIdentifier":"c05a1bbe-6f3d-36bf-dac5-3cf95589fac3","name":"","source":{"id":"14531e3e-d1c1-38f6-9161-a9ecdeabb69f","type":"PROCESSOR","groupId":"6aa545a8-6ed6-3c71-bb3b-99830978a0a5","name":"Download File","comments":"","instanceIdentifier":"89214844-f662-3b7a-34c3-3280eaf45266"},"destination":{"id":"6d190ab8-d30a-3b8f-a56d-1bb4c7e1c053","type":"PROCESSOR","groupId":"6aa545a8-6ed6-3c71-bb3b-99830978a0a5","name":"Update File Name","comments":"","instanceIdentifier":"bfeb9ef9-eb8f-36d3-c449-6d279d74ceed"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6aa545a8-6ed6-3c71-bb3b-99830978a0a5"},{"identifier":"49751ac0-1e25-3961-b4f7-720ded8cbd02","instanceIdentifier":"5032d34d-659f-365b-1145-f34e5a03fb1a","name":"","source":{"id":"14531e3e-d1c1-38f6-9161-a9ecdeabb69f","type":"PROCESSOR","groupId":"6aa545a8-6ed6-3c71-bb3b-99830978a0a5","name":"Download File","comments":"","instanceIdentifier":"89214844-f662-3b7a-34c3-3280eaf45266"},"destination":{"id":"38f0acb5-768f-3093-856b-d546f5146f50","type":"FUNNEL","groupId":"6aa545a8-6ed6-3c71-bb3b-99830978a0a5","name":"Funnel","comments":"","instanceIdentifier":"152cd694-d01e-38bc-470e-02ce35f528f6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6aa545a8-6ed6-3c71-bb3b-99830978a0a5"},{"identifier":"48239779-1a25-399d-a211-82bcbb5188fb","instanceIdentifier":"54292c7e-975a-331d-42b5-46428e0ab376","name":"","source":{"id":"6d190ab8-d30a-3b8f-a56d-1bb4c7e1c053","type":"PROCESSOR","groupId":"6aa545a8-6ed6-3c71-bb3b-99830978a0a5","name":"Update File Name","comments":"","instanceIdentifier":"bfeb9ef9-eb8f-36d3-c449-6d279d74ceed"},"destination":{"id":"42ffb181-fe1d-34fd-a8ca-9f31f8c323d6","type":"PROCESSOR","groupId":"6aa545a8-6ed6-3c71-bb3b-99830978a0a5","name":"Write File to HDFS","comments":"","instanceIdentifier":"867f832c-079c-3ec8-c94a-a8a7608acbb6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6aa545a8-6ed6-3c71-bb3b-99830978a0a5"}],"labels":[{"identifier":"0ecf28ce-5bc6-38f8-928b-3f771b8d1781","instanceIdentifier":"7c5673ad-b486-3f81-4fb2-65191298b662","position":{"x":-744.0,"y":-272.0},"label":"Step 2 – Set Parameters\nCreate parameters in your Parameter Context (Right Click in canvas and select Parameters):\n\nDOWNLOAD FILE URL = Raw GitHub URL to a small CSV\n\nFILENAME = name of the file (e.g. sample.csv)\n\nHDFS WRITE DIRECTORY = directory in HDFS (e.g. /tmp)\n\nUSER = output of the command `whoami` on your Google VM\n","zIndex":0,"width":608.0,"height":184.0,"style":{"background-color":"#d6f4ff","font-size":"14px"},"componentType":"LABEL","groupIdentifier":"6aa545a8-6ed6-3c71-bb3b-99830978a0a5"},{"identifier":"dbdc34d5-0767-35a0-a5c3-840dcd2c10b7","instanceIdentifier":"1cfb60f6-0ed5-3f6a-3d16-9e3b6a812199","position":{"x":-752.0,"y":416.0},"label":"Step 5 – Run Write File to HDFS (PutHDFS)\n\nThis will write your data to the hdfs folder HDFS_WRITE_DIRECTORY\nin the parameter context\n\nIt will use the core-site.xml config for hdfs in the USER parameter directory","zIndex":0,"width":520.0,"height":128.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"6aa545a8-6ed6-3c71-bb3b-99830978a0a5"},{"identifier":"44a844cf-3fac-3647-bb1c-70b0f4586bfa","instanceIdentifier":"b4863f83-73ad-1c56-a86a-688f1213c3ce","position":{"x":-752.0,"y":760.0},"label":"Step 7 – Stop NiFi\n\nRun: ./nifi.sh stop\nInside: nifi-1.25.0/bin","zIndex":0,"width":608.0,"height":112.0,"style":{"background-color":"#ffd4f1","font-size":"14px"},"componentType":"LABEL","groupIdentifier":"6aa545a8-6ed6-3c71-bb3b-99830978a0a5"},{"identifier":"c0468835-a68f-397b-8330-bb302efeef4b","instanceIdentifier":"89a056fa-9d92-330d-9302-d106b04e0541","position":{"x":-752.0,"y":208.0},"label":"Step 4 – Run Update FileName (Update Attribute) \n\nThis will rename your file to the parameter FILENAME in the parameter context","zIndex":0,"width":520.0,"height":128.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"6aa545a8-6ed6-3c71-bb3b-99830978a0a5"},{"identifier":"35156e3d-14c5-3424-ab7e-60fd6d33c83b","instanceIdentifier":"b4863f81-73ad-1c56-5365-723f812b9feb","position":{"x":-744.0,"y":-408.0},"label":"Step 1 – Start Hadoop Containers\n\nRun: docker-compose up -d \nInside: hadoop-hive-spark-hbase\nWait: For HDFS User Interface to Load","zIndex":0,"width":608.0,"height":112.0,"style":{"background-color":"#d4ffef","font-size":"14px"},"componentType":"LABEL","groupIdentifier":"6aa545a8-6ed6-3c71-bb3b-99830978a0a5"},{"identifier":"f3862bf9-d2dd-386a-8b7b-ffaed450a0e2","instanceIdentifier":"f07a1f69-469f-3fde-eb1d-3b2ea7f90e99","position":{"x":-752.0,"y":584.0},"label":"Step 6 - Validate File Load\n\nInside the master docker container run:\n\nhdfs dfs -ls <HDFS WRITE DIRECTORY>\n\nfor example, if HDFS_WRITE_DIRECTORY was /tmp the command would be:\nhdfs dfs -ls /tmp","zIndex":0,"width":608.0,"height":152.0,"style":{"background-color":"#d6f4ff","font-size":"14px"},"componentType":"LABEL","groupIdentifier":"6aa545a8-6ed6-3c71-bb3b-99830978a0a5"},{"identifier":"950e185d-c392-3461-9769-8f4a7a8979eb","instanceIdentifier":"52f57e43-f759-3421-c32b-253c9e1c30e2","position":{"x":-744.0,"y":-48.0},"label":"Step 3 – Run Download File (Invoke HTTP) \n\nRight click and Run-Once \nor \nRight click -> Start\n\nOptional Configure Timer:\nRight click -> configure -> scheduling is set to run every 30 seconds\n\n","zIndex":0,"width":488.0,"height":152.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"6aa545a8-6ed6-3c71-bb3b-99830978a0a5"}],"funnels":[{"identifier":"00c785e4-db07-3e25-8be9-a9789082bda6","instanceIdentifier":"b0f84431-8be3-3d7b-4146-fc7a8e74f0ae","position":{"x":472.0,"y":472.0},"componentType":"FUNNEL","groupIdentifier":"6aa545a8-6ed6-3c71-bb3b-99830978a0a5"},{"identifier":"38f0acb5-768f-3093-856b-d546f5146f50","instanceIdentifier":"152cd694-d01e-38bc-470e-02ce35f528f6","position":{"x":432.0,"y":-8.0},"componentType":"FUNNEL","groupIdentifier":"6aa545a8-6ed6-3c71-bb3b-99830978a0a5"}],"controllerServices":[],"variables":{},"parameterContextName":"Final Project","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{"Final Project":{"name":"Final Project","parameters":[{"name":"HDFS WRITE DIRECTORY","description":"","sensitive":false,"provided":false},{"name":"DOWNLOAD FILE URL","description":"","sensitive":false,"provided":false},{"name":"FILENAME","description":"","sensitive":false,"provided":false},{"name":"USER","description":"","sensitive":false,"provided":false}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}