week11-12/assignment/Example_Project.json
{"flowContents":{"identifier":"6d3d09f6-76e8-3bf3-8d10-a874acfb1924","instanceIdentifier":"4dd70253-0192-1000-d231-0df54f67f4e1","name":"Example Project","comments":"","position":{"x":379.0,"y":369.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"42ffb181-fe1d-34fd-a8ca-9f31f8c323d6","instanceIdentifier":"72c2cc54-54dd-36ff-6306-5a22148cf7c9","name":"PutHDFS","comments":"","position":{"x":424.0,"y":280.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.25.0"},"properties":{"Permissions umask":null,"Hadoop Configuration Resources":"/home/ubuntu/dsc650-infra/bellevue-bigdata/nifi/hadoopconf/core-site.xml","Remote Owner":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"Block Size":null,"kerberos-credentials-service":null,"Kerberos Keytab":null,"Ignore Locality":"false","Kerberos Principal":null,"Replication":null,"kerberos-user-service":null,"writing-strategy":"writeAndRename","Kerberos Relogin Period":"4 hours","Directory":"/tmp","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6d3d09f6-76e8-3bf3-8d10-a874acfb1924"},{"identifier":"14531e3e-d1c1-38f6-9161-a9ecdeabb69f","instanceIdentifier":"4dd86944-0192-1000-7e84-2faa4329cbb6","name":"InvokeHTTP","comments":"","position":{"x":-200.0,"y":272.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.25.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://raw.githubusercontent.com/bellevue-university/dsc650-updated/refs/heads/main/week11-12/assignment/customers-100.csv","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6d3d09f6-76e8-3bf3-8d10-a874acfb1924"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"2c687f0f-a5a1-339a-8c3a-63614c70b437","instanceIdentifier":"01921001-9ef4-1ddc-7636-b7ccb54ec6ab","name":"","source":{"id":"42ffb181-fe1d-34fd-a8ca-9f31f8c323d6","type":"PROCESSOR","groupId":"6d3d09f6-76e8-3bf3-8d10-a874acfb1924","name":"PutHDFS","comments":"","instanceIdentifier":"72c2cc54-54dd-36ff-6306-5a22148cf7c9"},"destination":{"id":"00c785e4-db07-3e25-8be9-a9789082bda6","type":"FUNNEL","groupId":"6d3d09f6-76e8-3bf3-8d10-a874acfb1924","name":"Funnel","comments":"","instanceIdentifier":"01921000-9ef4-1ddc-cf8c-e573144a1128"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6d3d09f6-76e8-3bf3-8d10-a874acfb1924"},{"identifier":"fd651d86-5861-3fbd-a3f9-7fe788f2e446","instanceIdentifier":"4ddc50de-0192-1000-fc5d-763ba28688c9","name":"","source":{"id":"14531e3e-d1c1-38f6-9161-a9ecdeabb69f","type":"PROCESSOR","groupId":"6d3d09f6-76e8-3bf3-8d10-a874acfb1924","name":"InvokeHTTP","comments":"","instanceIdentifier":"4dd86944-0192-1000-7e84-2faa4329cbb6"},"destination":{"id":"42ffb181-fe1d-34fd-a8ca-9f31f8c323d6","type":"PROCESSOR","groupId":"6d3d09f6-76e8-3bf3-8d10-a874acfb1924","name":"PutHDFS","comments":"","instanceIdentifier":"72c2cc54-54dd-36ff-6306-5a22148cf7c9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6d3d09f6-76e8-3bf3-8d10-a874acfb1924"},{"identifier":"49751ac0-1e25-3961-b4f7-720ded8cbd02","instanceIdentifier":"4ddcba1c-0192-1000-2e4a-3b23e0eecf0a","name":"","source":{"id":"14531e3e-d1c1-38f6-9161-a9ecdeabb69f","type":"PROCESSOR","groupId":"6d3d09f6-76e8-3bf3-8d10-a874acfb1924","name":"InvokeHTTP","comments":"","instanceIdentifier":"4dd86944-0192-1000-7e84-2faa4329cbb6"},"destination":{"id":"38f0acb5-768f-3093-856b-d546f5146f50","type":"FUNNEL","groupId":"6d3d09f6-76e8-3bf3-8d10-a874acfb1924","name":"Funnel","comments":"","instanceIdentifier":"4ddc9ef4-0192-1000-c82c-4f9e1e75b76c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6d3d09f6-76e8-3bf3-8d10-a874acfb1924"}],"labels":[{"identifier":"0374f3a5-f894-34bd-9fa4-ae22f353b4f4","instanceIdentifier":"d22fcf3b-dc5c-3834-fe8e-8ca20d060ee3","position":{"x":432.0,"y":184.0},"label":"Change directory from /tmp to whatever directory in HDFS you want","zIndex":0,"width":376.0,"height":64.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"6d3d09f6-76e8-3bf3-8d10-a874acfb1924"},{"identifier":"e9f261bd-5fed-33dd-a673-2198cefcf0a9","instanceIdentifier":"4ddcdc60-0192-1000-50fd-cf47a8207e63","position":{"x":-208.0,"y":168.0},"label":"Downloads a CSV. You can NOT reuse the same CSV for your project","zIndex":0,"width":376.0,"height":64.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"6d3d09f6-76e8-3bf3-8d10-a874acfb1924"}],"funnels":[{"identifier":"00c785e4-db07-3e25-8be9-a9789082bda6","instanceIdentifier":"01921000-9ef4-1ddc-cf8c-e573144a1128","position":{"x":576.0,"y":544.0},"componentType":"FUNNEL","groupIdentifier":"6d3d09f6-76e8-3bf3-8d10-a874acfb1924"},{"identifier":"38f0acb5-768f-3093-856b-d546f5146f50","instanceIdentifier":"4ddc9ef4-0192-1000-c82c-4f9e1e75b76c","position":{"x":-48.0,"y":576.0},"componentType":"FUNNEL","groupIdentifier":"6d3d09f6-76e8-3bf3-8d10-a874acfb1924"}],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}